.photoPreview{
    width: 140px;
    height: 140px;
    background-color: rgb(233, 236, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit:cover;

}