.RichEditor-root {
  background: #ffffff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  min-height: 400px;
  width: auto;
  padding: 15px;
  /* College-ruled lines simulation */
  background-image: linear-gradient(
    to bottom,
    #f8f8f8 0.05em,
    transparent 0.05em
  );
  background-size: 100% 0.28em; /* Line spacing - closer to 7.1mm in height */
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
  outline: 0;
  border-bottom: 2px solid #5890ff;
}

.RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

/* Style for code blocks */
[data-block="true"] .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  padding: 20px;
  font-size: 16px;
}
